.container {
  font-family: 'Courier New', Courier, monospace sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: lightgrey;
}

.input {
  padding: 10px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.weather-data {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  background-color: aliceblue;
  border-radius: 12px;
  width: 40%;
}

.city-name {
  font-size: 30px;
  font-weight: 300;
}

.city-temp {
  font-size: 80px;
}

.city-hum {
  font-size: 30px;
  font-weight: 300;
}

.icon-hum {
  padding-left: 20px;
  width: 50px;
}

.cloud {
  font-size: 30px;
  font-weight: 300;
}